<div class="app-container">
  <app-header></app-header>
  <app-sub-header [title]="statusHeaderText.title" [description]="statusHeaderText.description" 
    [subtitle]="statusHeaderText.subtitle" ></app-sub-header>
  <app-status-list></app-status-list>
  <app-sub-header [title]="incidentHeaderText.title" [description]="incidentHeaderText.description" 
  [subtitle]="incidentHeaderText.subtitle" ></app-sub-header>
  <app-incident-status-list></app-incident-status-list>
</div>
<router-outlet></router-outlet>
